# Flutter
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework

# Node backend
backend/node_modules/

# IDE
.idea/
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Logs
*.log